doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body
    div.container
      nav.navbar 
        a(href="/").title
          h3 Members Only
        //- If User is NOT logged in
        if (!user)
          ul 
            a(href="/log-in") 
              li Log in
            a(href="/sign-up")
              li Sign up
        //- If User IS logged in
        else 
          ul
            a(href="/create-message") 
              li Create Message
            a(href="/member") 
              li Member
            a(href="/admin")  
              li Admin
            a(href="/log-out") 
              li Log out 
      block content
