doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar 
      h3 Members Only 
      if (!user)
        ul.signup-login 
          li 
            a(href="/log-in") Log in 
          li 
            a(href="/sign-up") Sign up
      else 
        ul.logout 
          li
            a(href="/log-out") Log out 
    block content
