extends layout

block content
  br
  form.auth-form(action="/log-in" method="POST")
    img.sign-up-img(src="../images/jojo-log-in.png", alt="")
    h1= title
    p.auth-alternative Don't have an account? 
      a(href="sign-up") Sign up
    div
      label(for="username") Username: 
      input#username(type="text" name="username" required="true")

    div
      label(for="password") Password: 
      input#password(type="password" name="password" required="true")
    button(type="submit") Login

  if (errors)
    p #{errors}