extends layout

block content
  h1= title
  
  form(action="/member" method="POST")
    div
      label(for="passcode") Enter the Passcode: 
      input#passcode(type="text" placeholder="Passcode" name="passcode" required="true")
    button(type="submit") Submit Passcode

  if (passcodeError)
    p(style="color: red") #{passcodeError}

  if (errors)
    p #{errors}