extends layout

block content

  if (!user.member)  
    form.auth-form(action="/member" method="POST")
      h2= title
      div
        label(for="passcode") Enter the Member Passcode: 
        input#passcode(type="password" placeholder="Passcode" name="passcode" required="true")
      button(type="submit") Submit Passcode

    if (passcodeError)
      p(style="color: red") #{passcodeError}

    if (errors)
      p #{errors}

  else
    div(style="width: auto; margin: 0 auto; text-align: center")
      h2 You are already a member!
      img(src="../images/member.png", alt="", style="height: 150px; margin-top: 2em")