extends layout

block content
  h1= title
  form(action="/sign-up" method="POST")
    div
      label(for="username") Username: 
      input#username(type="text" placeholder="Username" name="username" required="true")
      if (error)
        p(style="color: red;") #{error}
    div
      label(for="password") Password: 
      input#password(type="password" placeholder="Password" name="password" required="true")
    div
      label(for="confirmPassword") Confirm Password: 
      input#confirmPassword(type="password" placeholder="Confirm Password" name="confirmPassword" required="true")
      if (passwordConfirmationError)
        p(style="color: red;") #{passwordConfirmationError}
    button(type="submit") Submit

  if (errors)
    p #{errors}