@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3993f3;
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  margin: 0 auto;
  width: 75%;
  max-width: 1200px;
}

.username-layout {
  position: fixed;
  bottom: 5px;
  right: 10px;
  color: white;
  font-size: 0.9em;
}

/* ------------------------------ NAVBAR ------------------------- */

.title {
  text-decoration: none;
  padding: 19px 0;
  color: white;
  transition: 250ms;
}

.title:hover {
  color: rgb(228, 228, 228);
}

.navbar {
  margin: 2em 0;
  width: 100%;
  height: 60px;
  background-color: #282424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5em;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  display: flex;
  height: 60px;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

.navbar ul li {
  padding: 0 1em;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 250ms;
}

.navbar ul li:hover {
  background-color: #d40b00;
  /* background-color: #f1623f; */
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .navbar ul {
    height: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .navbar {
    padding: 0;
  }

  .title {
    font-size: 0.9em;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  
  .navbar ul a {
    width: 100%;
  }
  
  .navbar ul li {
    padding: 1em 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
  }
}


/* ------------------------------ MESSAGE LIST ------------------------- */

.msg-container {
  width: 65%;
  height: auto;
  margin: 3em auto;
  padding: 1.5em 1.5em 0 1.5em;
  background-color: azure;
  border-radius: 0.5em;
  box-shadow: 0 0 3px 3px azure;
}

.msg-title {
  margin: 0.25em 0 1.5em 0;
  color: rgb(50, 50, 50);
  font-weight: 500;
  font-size: 1.05em;
  overflow-wrap: break-word;
}

.msg-text {
  color: rgb(75, 75, 75);
  font-size: 0.95em;
}

.msg-info {
  border-top: 1px solid lightgrey;
  font-size: 0.8em;
  margin: 2em 0 0 0;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: space-between;
}

.msg-username {
  font-weight: 500;
}

.delete-msg {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}

.delete-msg button {
  border: none;
  background-color: azure;
  cursor: pointer;
  font-family: 'Red Hat Display', sans-serif;
}

.delete-msg button:hover {
  color: red;
}

@media only screen and (max-width: 992px) {
  .msg-container {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .msg-container {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .msg-container {
    width: 100%;
    margin: 2em auto;
  }

  .msg-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}


/* -------------------------- FORM (LOGIN/SIGNUP) LIST --------------------- */


.auth-form {
  width: 60%;
  margin: 0 auto;
  padding: 2em 5em;
  background-color: azure;
  box-shadow: 0 0 3px 3px azure;
  border-radius: 0.5em;
}

.sign-up-img {
  width: 60px;
  float: right;
}

.auth-alternative {
  margin: 1em 0;
  font-size: 0.8em;
}

.auth-alternative a {
  text-decoration: none;
  color: rgb(50, 116, 187);
}

.auth-alternative a:hover {
  text-decoration: underline;
}

.auth-form div {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0 1em 0;
}

.auth-form div label {
  margin: 0.25em 0;
  font-size: 0.9em;
  font-weight: 600;
}

.auth-form div input {
  background-color: rgb(230, 230, 230);
  height: 35px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.auth-form button {
  margin-top: 0.75em;
  border: none;
  border-radius: 7px;
  height: 35px;
  padding: 0 1.5em;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  background-color: #d40b00;
  cursor: pointer;
  transition: 250ms;
  font-weight: 500;
}

.auth-form button:hover {
  background-color: #e21c11;
}

@media only screen and (max-width: 992px) {
  .auth-form {
    width: 60%;
  }

  .auth-form button {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .auth-form {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .auth-form {
    width: 100%;
    padding: 2em;
  }
}


/* -------------------------- FORM (MEMBER/ADMIN) LIST --------------------- */

